@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google Fonts Inter */
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Style  */

.container{
    max-width: 1360px;
    margin:auto
}




/* Header Styles */
header{
    padding: 20px 0;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    width: 140px;
}

header ul{
    display: flex;
    gap:30px;
    list-style: none;
}

header ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

header button{
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
}


/* Banner Styles */
#banner{
    background-image: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner{
    padding:150px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:30px;

}
.banner h1 span{
    color: #fff;
}

.banner h1{
    font-size:72px;
    font-weight: 700;
    color: #30B868;
}
.banner p{
    color: #fff;
    font-size:18px;
    line-height: 30px;
}
.banner div{
    display: flex;
    gap:16px;
}

.banner .btn{
    background-color: transparent;
    border: 1px solid #fff;
}