@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Google Fonts Inter */
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Style  */

.container {
  max-width: 1360px;
  margin: auto;
}

button {
  background-color: #30b868;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 10px;
   transition:all 0.3s;
}

button:hover{
  background-color: #269d57;
 
}

/* Header Styles */

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

header .logo img {
  width: 140px;
}

header ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

header ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  transition: all 0.2s;
}

header ul li a:hover {
 color: #30b868;
}




/* Banner Styles */
#banner {
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner {
  padding: 150px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.banner h1 span {
  color: #fff;
}

.banner h1 {
  font-size: 72px;
  font-weight: 700;
  color: #30b868;
}
.banner p {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
}
.banner div {
  display: flex;
  gap: 16px;
}

.banner .btn {
  background-color: transparent;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.banner .btn:hover {
  color: #30b868;
  border: 1px solid #30b868;
}

/* Note Section */
.note-section {
  padding-top: 50px;
}
.note-info {
  text-align: center;
}
.note-info h2 {
  font-size: 48px;
  font-weight: 700;
}
.note-info p {
  margin-top: 16px;
  color: #627382;
}

.notes-cards {
  padding-top: 44px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.note-card {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
  padding: 50px 24px;
  
  text-align: center;
}

.note-card img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: 10px;
  background: rgba(249, 85, 85, 1);
}

.note-card h3 {
  font-size: 24px;
  font-weight: 600;
  padding: 16px 0px;
}

.note-card p {
  color: #627382;
}

/* Brain Section Style */

#brain-section {
  margin: 120px 0px;
}

.brain-content {
  display: flex;
  align-items: center;
  gap: 60px;
}

.brain-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.brain-info h4 {
  color: #30b868;
  text-transform: uppercase;
  font-weight: 500;
}
.brain-info h2 {
  font-size: 48px;
  font-weight: 700;
}

.brain-info p {
  color: #627382;
}

.brain-info ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 500;
}

.brain-info ul li {
  display: flex;
  align-items: center;
  gap: 6px;
}

.brain-info ul li i {
  color: #30b868;
}

/* Think more sections styles */

.think-more-content {
  padding: 80px 0px;
  background: rgba(247, 246, 242, 1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap:20px;
  margin-bottom: 120px;
}

.think-more-content h2{
  font-size: 40px;
  font-weight: 700;
}


 .think-more-content p{
  color: #627382;
}


/* Footer Styles   */

footer{
  background-color:  rgba(0, 25, 49, 1);
}

.footer{
  color: #FFF;
  padding-top: 120px;
}
.footer-content{
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  
}

.sociallink i{
  cursor: pointer;
  font-size:20px;
  margin-top: 10px;
  margin-right:16px;
}

.copyright{
  text-align: center;
  padding: 30px 0px;
}