@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google Fonts Inter */
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Style  */

.container{
    max-width: 1360px;
    margin:auto
}




/* Header Styles */

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

header .logo img{
    width: 140px;
}

header ul{
    display: flex;
    gap:30px;
    list-style: none;
}

header ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

header button{
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
}


/* Banner Styles */
#banner{
    background-image: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner{
    padding:150px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:30px;

}
.banner h1 span{
    color: #fff;
}

.banner h1{
    font-size:72px;
    font-weight: 700;
    color: #30B868;
}
.banner p{
    color: #fff;
    font-size:18px;
    line-height: 30px;
}
.banner div{
    display: flex;
    gap:16px;
}

.banner .btn{
    background-color: transparent;
    border: 1px solid #fff;
}



/* Note Section */  
.note-section{
    padding-top:50px;
}
.note-info{
    text-align: center;
}
.note-info h2{
    font-size: 48px;
    font-weight: 700;
}
.note-info p{
    margin-top: 16px;
    color:#627382;
}


.notes-cards{
    padding-top: 44px;
    display: flex;
    justify-content: space-between;
    gap:24px
    
}

.note-card{
    
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
background: rgba(255, 255, 255, 1);
border-radius: 8px;
padding: 20px;

text-align: center;

}

.note-card img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding:10px;
    background: rgba(249, 85, 85, 1);;
}

.note-card h3{
    padding: 16px 0px;
}